# These owners will be the default owners for everything in the repo
* @KRISHNA-5478 @mohinisri23

# Python files
*.py @KRISHNA-5478 @mohinisri23

# Frontend files
*.html @mohinisri23
*.css @mohinisri23
*.js @mohinisri23

# Documentation
*.md @KRISHNA-5478 @mohinisri23